{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container d-flex align-items-center" style="min-height: 80vh;">
    <form method="post" class="mx-auto w-50 card">
        {% csrf_token %}
        <div class="card-header">
            <h2 class="card-title">{% trans "Eliminar Caja" %}</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                {% trans "Seguro que deseas eliminar la caja" %} "{{object}}"?
            </p>
        </div>
        <div class="card-footer">
            <p class="form-buttons">
                <input type="submit" class="btn btn-danger" value="{% trans "Eliminar" %}">
                <a href="{% url 'caja:caja_list' %}" class="btn btn-secondary">{% trans "Cancelar" %}</a>
            </p>
        </div>
    </form>
</div>
{% endblock content %}